<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section><%= render 'shared/user_info' %></section>
    </aside>
    <div class="span8">
      <h3>Games feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="center hero-unit">
  	<h1>Welcome to Resistance on Rails</h1>
  	<h2>This is a simple way to facilitate playing resistance over a video conference.</h2>
  	
  	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
  </div>
  
<% end %>