<% provide(:title, @user.name) %>
<div class="row">
	<aside class="span4">
		<section>		
			<h1>
				<%= gravatar_for @user %>
				<%= @user.name %>
			</h1>
		</section>
	</aside>
	<div class="span8">
	  <% if @user.games.any? %>
	    <h3>Games (<%= @games.count %>)</h3>
	    <ol class="games">
	      <%= render @games %>
	    </ol>
	    <%= will_paginate @games %>
    <% end %>
	</div>
</div>
