<% if object.errors.any? %>
  <div id="error_explanation">
    <dev class="alert alert-error">
      The form contains <%= pluralize(object.errors.count, "error") %>.
    </dev>
    <ul>
      <% object.errors.full_messages.each do |msg| %>
      <li>* <%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
      