<li id="<%= feed_item.id %>">
  <%= link_to gravatar_for(feed_item.owner, size: 30), feed_item.owner %>

  <span class="game"><%= link_to feed_item.summary, feed_item%></span>

  <span class="timestamp">
    Started <%= time_ago_in_words(feed_item.created_at) %> ago.  By 
  </span>

  <span class="user">
    <%= link_to feed_item.owner.name, feed_item.owner %>
  </span>

  <% if current_user?(feed_item.owner) %>
    <%= link_to "delete", feed_item, method: :delete,
        data: { confirm: "Sure?" },
        title: feed_item.summary %>
  <% end %>

</li>