<% if @feed_items.any? %>
  <p><%= "#{@feed_items.count} games"%></p>
  <ol class="games">
    <%= render partial: 'shared/feed_item', collection: @feed_items %>
  </ol>
  <%= will_paginate @feed_items %>
<% end %>