<li>
  <span class="content"><%= link_to game.summary, game%></span>
  <span class="timestamp">
    Started <%= time_ago_in_words(game.created_at) %> ago.
  </span>
  <% if current_user?(game.owner) %>
    <%= link_to "delete", game, method: :delete,
        data: { confirm: "Sure?" },
        title: game.summary %>
  <% end %>
</li>
