<% provide(:title, @game.summary) %>
<div class="row">
	<aside class="span4">
		<section>		
			<h1>Created by <%= @game.owner.name %></h1><br>
      <span class="timestamp">
        <%= time_ago_in_words(@game.created_at) %> ago.
      </span>

		</section>
	</aside>
	<div class="span8">
	</div>
</div>
